<div id="<%= dom_id reply %>">
  <p>
    <strong>Comment:</strong>
    <%= reply.comment_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reply.user_id %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= reply.text %>
  </p>

</div>
