<p style="color: green"><%= notice %></p>

<h1>Replies</h1>

<div id="replies">
  <% @replies.each do |reply| %>
    <%= render reply %>
    <p>
      <%= link_to "Show this reply", reply %>
    </p>
  <% end %>
</div>

<%= link_to "New reply", new_reply_path %>
