<%= form_with(model: micropost) do |showForm| %>
  <% if micropost.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(micropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
        <% micropost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="area_text">
    <tbody>
      <%= render partial: 'comments/form', locals: {micropost: comment.micropost, parent: comment} %>
    </tbody>
  </table>

<% end %>