<thead>
  <table id="hnmain" border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
    <tr>
      <td bgcolor="#ff6600">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" >
          <tbody>
          <tr>
            <td style="width:18px;padding-right:4px">
              <a href=http://www.ycombinator.com/>
                <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
              </a>
            </td>
            <td style="line-height:12pt; height:10px;">
              <span class="pagetop"><b class="=hname"><%= link_to 'Submit', root_path %></b></span>
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="height:10px"></tr>
  </table>
</thead>

<tbody class="itemlist">
<table border="0" cellpadding="0" align="center" cellspacing="0" width="85%" bgcolor="#f6f6ef">
  <tr class=taula_submit>
    <td>
      <%= render "form", micropost: @micropost %>
    </td>
  </tr>
  <tr class=peu>
    <td>
      <br>
      <span>
        Leave url blank to submit a question for discussion. If there
        is no url, text will appear at the top of the thread. If
        there is a url, text is optional.
        <br>
        <br>
        You can also submit via
        <a href="https://news.ycombinator.com/bookmarklet.html" rel="nofollow"><u>bookmarklet</u></a>
      </span>
    </td>
  </tr>
</table>

<br>

<div>
  <%= link_to "Back to microposts", microposts_path %>
</div>
