html {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  & > body {
    margin-top: 8px;
    a {
      text-decoration: none;

      & > img {
        margin-top: 2px;
        margin-left: 2px;
      }
    }
    a:visited {
      color: black;
    }

  }
}

.taula_sencera {
  color: #828282;
}

.pagetop {
  text-decoration: none;
  color: #23457a;
}

.taula_submit {
  text-transform: lowercase;
}

.peu {
  font-size: 10pt;
  color: #828282;
}

.foot a{
  text-decoration: underline;
}

.foot a:visited {
  color: #828282;
  text-decoration: underline;
}

input {
  font-family: monospace;
  font-size: 10pt;
}

.url_post a{
  color: #828282 !important;
  font-size: 8pt;
}


.title a{
  font-family:Verdana, Geneva, sans-serif;
  font-size: 11pt;
  color:black;
}

.title a:visited{
  font-family:Verdana, Geneva, sans-serif;
  font-size: 11pt;
  color:#828282;
}







