html {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10pt;
  & > body {
    a {
      text-decoration: none;

      & > img {
        margin-top: 2px;
        margin-left: 2px;
      }
    }
    a:visited {
      color: black;
    }

  }
}

.taula_sencera {
  color: #828282;
}

.pagetop {
  text-decoration: none;
  color: black;
}

.taula_submit {
  text-transform: lowercase;
}

.peu {
  font-size: 10pt;
  color: #828282;
}

.foot a{
  text-decoration: underline;
}

.foot a:visited {
  color: #828282;
  text-decoration: underline;
}

input {
  font-family: monospace;
  font-size: 10pt;
}

.url_post a{
  color: #828282 !important;
  font-size: 8pt;
}

.url_post a:hover{
  color: #828282 !important;
  font-size: 8pt;
  text-decoration: underline;
}

.title a{
  font-family:Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color:black;
}

.title a:visited{
  font-family:Verdana, Geneva, sans-serif;
  font-size: 10pt;
  color:#828282;
}

.post_info {
    font-size: 7pt;
    color: #828282;
    padding-left: 15px;
}

.enum {
  color: #828282;
  width: 25px;
  font-size: 10pt;
  padding-bottom: 16px;
  padding-left: 7px;
}

.upvote {
  font-size: 7pt;
  color: #9a9a9a;
}

.sub {
  padding-bottom: 7px;
}

