html {
  & > body {
    margin-top: 8px;
    a {
      text-decoration: none;

      & > img {
        margin-top: 2px;
        margin-left: 2px;
      }
    }
    a:visited {
      color: black;
    }

  }

}









